@import url('https://fonts.googleapis.com/css2? family= Oswald & display=swap');

html{
    background-color: white;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Oswald', sans-serif;
}




.header{
    background-color: #e2d7d7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    padding: 5px 10px;
}


.header .logo{
    padding: 0 0 0 200px;
    cursor: pointer;
    transition: all 0.7s;
}


.header .logo img:hover{
    transform: scale(1.2);
    
}

.header .nav-links{
    list-style: none;
}


.header .nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.header .nav-links li:hover,
.overLay a:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: #eceff1;
}



@media screen and (max-width: 800px){
    .nav-links, .btn{
        display: none;
    }
    .menu{
       display: inherit; 
    }
    .logo img{
        width: 200px;
        padding: 150;
        align-items: center;
    }
}

/*nav*/

.header a{
    text-decoration: none;
}

.header .overLay{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(33, 40, 63, .95);
    overflow: hidden;
    transition: all 0.3 ease 0s;
}

.header .overLay .overLay-content{
    display: flex;
    height: 100%;               /*altura 100*/
    flex-direction: column;     /*direccion del flex columnas*/
    align-items: center;       /*centro los items*/
    justify-content: center;   /*centro todo el contenido*/
}

.header .overLay a{
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3 ease 0s;
    font-weight: 700px;
    color: #eceff1;
}


.header .overLay a:hover,
.header .overLay a:focus{
    color: #ffbc0e;

}


.header .overLay .close{
    position: absolut;
    top: 20px;
    right: 45px;
    font-size: 65px;
}


@media screen and (max-heigth 450px){
    .header .overLay a{
        font-size: 20px;
    }
}

.header .overLay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
}



#padre {
    width: 100%;
    height: 200px;
    background-color: #ada4a4;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
  }
  .hijos {
    justify-content: center;
    width: max-content;
    height: 100px;
    float: left;
    margin-right: 5px;
    margin-left: 5px;
  }


 /* comienza sección quienes somos */ 
 


h1{
    font-size: 45px;
    text-align: center;
    height: 200px;
    padding: 20px 20px;
    color: aliceblue;
    background-image: url(img/fondos/3d-render-of-an-abstract-background-with-flowing-digital-particles-design.jpg);
    padding-top: 75px;
}

.intro{
    text-align: center;
    font-size: 25px;
    padding: 70px;
    color: #042133;
}

.nosotros{
    color: #042133;
}


.contenedor{
    display: grid;
    grid-gap: 20px;
    padding: 10px;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: center;
}

.gallery_img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    align-items: center;
    margin: 1px;
    padding: 5px;
    border: solid 3px #042133;

}

.gallery__iterm{
    position: relative;

}

.gallery__title{
    position: absolute;
    bottom: 0;
    color: #e2d7d7;
    margin: 10px 25px;
    font-size: 20px;
}

.nosotros{
    text-align: center;
}

.logohorizontal{
    display: flex;
    justify-content: center;
}

.logohorizontal img{
    width: 500px;
    height: 300px;
}



@media (min-widht:400px) {
    .contenedor{
        grid-template-columns: repeat(2,1fr);
    }
}


/* comienza inicio*/


.introduccion{
    text-align: center;
    color: #042133;
    font-size: 20px;
    padding: 10px 20px;
}


.cardconteiner{
    width:100%;
    display: flex;
    max-width: 100px;
}

.card{
    width: 350px;
    height: 400px;
    background-color: #eceff1;
    margin: 20px;
    border-radius: 8px;
    overflow: hidden;
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: row;
}



/*
.card{
    width: 100%;
    margin: 20px;
    border-radius: 8px;
    overflow: hidden;
    background:#eceff1;
    box-shadow: 0 1px 10px rgna(0,0,0,0.2.);
    cursor: default;
    transition: all 400ms ea;
}

/*
.cardconteiner{
    width: 100px;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}



/*
.cardcontainer .card{
    width: 330px;
    height: 500px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 50px;
    text-align: center;
    transition: all 0.25s;
    background-color: #eceff1;
}



