@import url('https://fonts.googleapis.com/css2? family= Oswald & display=swap');


*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Oswald', sans-serif;
}

.header{
    background-color: midnightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10px;
}

.header .logo{
    cursor: pointer;
}

.header .logo{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}


.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}


.header .nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: grey;
    text-decoration: none;
}

.header .nav-links a:hover{
    color:chocolate;
}

